@import url("https://fonts.googleapis.com/css2?family=Raleway&display=swap");
@import "./vars";

html,
body {
  font-family: "Raleway", sans-serif;
  height: 100%;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

hr {
  background-color: lightgray;
  border: unset;
  height: 2px;
  margin: 0.5em 0;
  border-radius: 3px;
}

button {
  background-color: $terciaryColorDark;
  color: white;
  border: 1px solid black;
  padding: 0.5em;
  border-radius: 5px;
  font-size: 0.9em;
  margin: 0 0.5em;
  cursor: pointer;
}
