@import "./vars";

.header {
  background-color: $primaryColor;
  display: flex;
  align-items: center;
  justify-content: space-between;

  h1 {
    margin-left: 1em;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    color: white;
  }

  nav {
    margin-right: 1em;
  }

  ul {
    display: flex;

    li {
      display: block;
      list-style: none;
      margin: 0 1.5em;
    }

    a {
      text-decoration: none;
      color: white;
      padding: 0.5em;
      border-radius: 5px;

      &:hover {
        background-color: $terciaryColor;
        color: black;
        transition-duration: 400ms;
      }
    }
  }
}

@media screen and (max-width: 400px) {
  .header {
    flex-direction: column;

    h1 {
      margin: unset;
    }

    nav {
      margin: 1em 0;
    }
  }
}
